<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        /* Add a black background color to the top navigation and make it sticky */
        .topnav {
            background-color: #333;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 2;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        /* Main content */
        #redoc {
            margin-top: 48px;
            z-index: 1;
        }
    </style>
    {{{redocHead}}}
    {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>

<body>
    <div class="topnav">
        {{#each templateOptions.menu }}
        <a {{#if this.active}}class="active" {{/if}} href="/{{this.name}}.html">{{this.name}}</a>
        {{/each}}
    </div>
    {{{redocHTML}}}
</body>

</html>
